<form id="contact" method="POST" action="https://formsubmit.co/daniplins@gmail.com">
    <input type="hidden" name="_next" value="https://daniplins.github.io/contato/obrigada" />
    <input type="hidden" name="_language" value="pt-BR" />
    <input type="email" name="email" placeholder="Seu melhor e-mail" required />
    <input type="text" name="_subject" placeholder="Assunto" required />
    <textarea name="message" placeholder="Mensagem do assunto" required></textarea>
    <button type="submit" class="btn btn-ghost">Enviar</button>
</form>