<ul class="social">
  <li><a href="mailto:{{ site.author.email }}" title="Email" target="_blank"><i class="icon icon-mail"></i></a></li>
  <li><a href="{{ site.author.twitter }}" title="Twitter" target="_blank"><i class="icon icon-twitter"></i></a></li>
  <li><a href="{{ site.author.facebook }}" title="Facebook" target="_blank"><i class="icon icon-facebook"></i></a></li>
  <li><a href="{{ site.author.linkedin }}" title="LinkedIn" target="_blank"><i class="icon icon-linkedin"></i></a></li>
  <li><a href="{{ site.author.whatsapp }}" title="Me manda uma mensagem via whatsapp" target="_blank"><i class="icon icon-whatsapp"></i></a></li>
  <li><a href="tel:{{ site.author.phone }}" title="Me ligue" target="_blank"><i class="icon icon-phone"></i></a></li>
</ul>